@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100&display=swap");

* {
  margin: 0;
}

header {
  width: auto;
  height: 100px;
  font-weight: 800;
  border-bottom: 4px solid black;
  font-family: "JetBrains Mono", monospace;
  font-size: xx-large;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}

main {
  height: 900px;
  background-color: white;
  overflow: hidden;
}


.turnedblock {
  margin-top: 251px;
  margin-left: -40px;
  width: 150%;
  height: 400px;
  background-color: #d9d9d9;
  transform: rotate(6deg);
  position: relative;
  z-index: 0;
}

main .container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
  align-items: center;
  align-content: stretch;
  margin-top: -550px;
  margin-left: -150px;
}

.headbutton {
  font-family: "JetBrains Mono", monospace;
  color: white;
  background-color: black;
  font-size: large;
  border-radius: 25px;
  height: 50px;
  width: 20%;
}

.headbutton a {
  text-decoration:none;
  color: white;
}

header a {
  text-decoration:none;
  color: black;
}

.textBox {
  margin-left: 100px;
  height: 250px;
  width: 750px;
  font-family: "JetBrains Mono", monospace;
  color: black;
  font-size: 1.5vw;
  position: relative;
}

main .container .plaatje {
  z-index: 1;
}

main .container .plaatje img {
  height: 400px;
  width: 400px;
}

.flexButton {
  width: 50%;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: flex-end;
}
.kaas {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#headertitle {
  float: left;
  margin-left: 25px;
}



#maintext2 {
    font-family: "JetBrains Mono", monospace;
    color: black;
    font-size: 3vw;
    font-weight: 900;
}

#maintext {
    font-family: "JetBrains Mono", monospace;
    color: black;
    font-size: 1.5vw;
    font-weight: 200;
}







body{
  margin:0;
  overflow-x:hidden;
  }
  
  .footer{
  background:#4f4f4f;
  padding:30px 0px;
  font-family: "JetBrains Mono", monospace;
  text-align:center;
  }
  
  .footer .row{
    
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:white;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:white;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }
  
  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }